<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">about</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      Current Weather
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        This is an ionic angular standalone project.
        <br/>
        This is a weather app that implements both a search weather page and a current location weather page.
        <br/>
        <br/>
        Contact us
        <br/>
        Email: g00422582&#64;atu.ie
        <br/>
        Phone: 0874485482
      </ion-label>
      
    </ion-card-content>
  </ion-card>
</ion-content>

