<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Current Location Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Weather</ion-title>
    </ion-toolbar>
  </ion-header>

 <!-- displays weather using geolocation api -->
  <ion-card *ngIf="weatherData">
    <ion-card-header>
      Current Weather in {{ weatherData.location.name }}, {{ weatherData.location.country }}
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="partly-sunny"></ion-icon>
      <ion-label>{{ weatherData.current.condition.text }}</ion-label>
      <ion-label>Temperature: {{ weatherData.current.temp_c }}°C</ion-label>
      <ion-label>Feels Like: {{ weatherData.current.feelslike_c }}°C</ion-label>
      <ion-label>Humidity: {{ weatherData.current.humidity }}%</ion-label>
      <ion-label>Wind: {{ weatherData.current.wind_kph }} km/h</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" class="ion-margin" (click)="getCurrentLocationWeather()">Get Weather</ion-button>
</ion-content>